{% extends 'base.html.twig' %}

{% block title %}Symrecipe Ingredients{% endblock %}

{% block body %}

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            {% for ingredient in ingredients %}
                <div class="">
                    <p>{{ ingredient.name }}</p>
                </div>
            {% endfor %}
            <a href="#" class="card-link">Card link</a>
           
        </div>
    </div>



    <div class="container">
        <h1>Mes Ingredients</h1>

       
    </div>
{% endblock %}
