{% extends 'base.html.twig' %}

{% block title %}Symrecipe Ingredients{% endblock %}

{% block body %}

    <table class="table">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Numero</th>
            <th scope="col">Nom</th>
            <th scope="col">Prix</th>
            <th scope="col">Date de création</th>
            </tr>
        </thead>
        <tbody>
            {% for ingredient in ingredients %}
                <tr>
                    <th scope="row">{{ ingredient.id}}</th>
                    <td>{{ ingredient.name }}</td>
                    <td>{{ ingredient.price }}</td>
                    <td>{{ ingredient.createdAt }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
